body {
  background-color: #e8f9fd;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}
h3,
h1 {
  color: #0aa1dd;
}
img:hover {
  background-color: yellow;
}
